$ivory: #fafafa;
$gray: #F1F1F2;
$orange: #F7941E;
$dark-gray: #231F20;
$hero-title: 3.5rem;
$blog-feature-title: 3rem;
$blog-title: 1.5rem;
$footer-link: .875rem;
$more-link: .875rem;
$button-size: 1.125rem;
$blog-text: 1.125rem;
$gifts-text: 1.125rem;
$header-link: 1.125rem;
$header: 2rem;
$text: 1.25rem;
$popin: 'Poppins', sans-serif;



/*

14px
18px
20px
24px
32px
48px

 */
