section.section__video#overview
    .section__video-content.content
        h2.content__title.title Easy to Use Cloud Budget Management Software
        p.content__description.
            Our software is made so you can access and manage your budget
            and expenses online at any time from any device.
            It provides detailed income and expense reports with graphs
            so you can easily see your spending patterns and budget
            at a glance. Read below to find out more.
        a.link.content__link(href='#') Learn More
    .section__video-media.media
